# Assignment 5.1 : Feature Transformation [Md. Rabiul Islam]

In [85]:
pr = [110, 105, 115, 120, 110, 130, 150, 100, 105]

In [50]:
pr

[110, 105, 115, 120, 110, 130, 150, 100, 105]

In [52]:
import pandas as pd
df = pd.DataFrame(pr, columns=['price'])

In [53]:
df

   price
0    110
1    105
2    115
3    120
4    110
5    130
6    150
7    100
8    105

### Normalization
MinMaxScaler

In [6]:
from sklearn.preprocessing import MinMaxScaler
mmx = MinMaxScaler()

In [7]:
mmx

MinMaxScaler()

In [8]:
df['price_norm_sklearn'] = mmx.fit_transform(df[['price']])

In [9]:
df.head()

   price  price_norm_sklearn
0    110                 0.2
1    105                 0.1
2    115                 0.3
3    120                 0.4
4    110                 0.2

# Standardization
StandardScaler

In [11]:
from sklearn.preprocessing import StandardScaler 
scaler = StandardScaler()

In [12]:
df['price_std_sklearn'] = scaler.fit_transform(df[['price']])

In [13]:
df.head()

   price  price_norm_sklearn  price_std_sklearn
0    110                 0.2          -0.416356
1    105                 0.1          -0.757011
2    115                 0.3          -0.075701
3    120                 0.4           0.264954
4    110                 0.2          -0.416356

# Log Transformation

In [14]:
from sklearn.preprocessing import FunctionTransformer
import numpy as np

In [15]:
fc = FunctionTransformer(np.log1p)
df['price_fc'] = fc.fit_transform(df[['price']])

In [16]:
df

   price  price_norm_sklearn  price_std_sklearn  price_fc
0    110                 0.2          -0.416356  4.709530
1    105                 0.1          -0.757011  4.663439
2    115                 0.3          -0.075701  4.753590
3    120                 0.4           0.264954  4.795791
4    110                 0.2          -0.416356  4.709530
5    130                 0.6           0.946264  4.875197
6    150                 1.0           2.308884  5.017280
7    100                 0.0          -1.097666  4.615121
8    105                 0.1          -0.757011  4.663439

In [17]:
#Alternative (using Numpy)
df['fc_np'] = np.log1p(df[['price']])

In [18]:
df

   price  price_norm_sklearn  price_std_sklearn  price_fc     fc_np
0    110                 0.2          -0.416356  4.709530  4.709530
1    105                 0.1          -0.757011  4.663439  4.663439
2    115                 0.3          -0.075701  4.753590  4.753590
3    120                 0.4           0.264954  4.795791  4.795791
4    110                 0.2          -0.416356  4.709530  4.709530
5    130                 0.6           0.946264  4.875197  4.875197
6    150                 1.0           2.308884  5.017280  5.017280
7    100                 0.0          -1.097666  4.615121  4.615121
8    105                 0.1          -0.757011  4.663439  4.663439

# Max Absolute Scaler

In [19]:
from sklearn.preprocessing import MaxAbsScaler

In [20]:
mx = MaxAbsScaler()

In [23]:
mx

MaxAbsScaler()

In [21]:
df['mx_abs'] = mx.fit_transform(df[['price']])

In [22]:
df

   price  price_norm_sklearn  price_std_sklearn  price_fc     fc_np    mx_abs
0    110                 0.2          -0.416356  4.709530  4.709530  0.733333
1    105                 0.1          -0.757011  4.663439  4.663439  0.700000
2    115                 0.3          -0.075701  4.753590  4.753590  0.766667
3    120                 0.4           0.264954  4.795791  4.795791  0.800000
4    110                 0.2          -0.416356  4.709530  4.709530  0.733333
5    130                 0.6           0.946264  4.875197  4.875197  0.866667
6    150                 1.0           2.308884  5.017280  5.017280  1.000000
7    100                 0.0          -1.097666  4.615121  4.615121  0.666667
8    105                 0.1          -0.757011  4.663439  4.663439  0.700000

# Robust Scaler

In [45]:
from sklearn.preprocessing import RobustScaler

In [46]:
scaler = RobustScaler()

In [26]:
scaler

RobustScaler()

In [54]:
df['rs_scaler'] = scaler.fit_transform(df[['price']])

In [84]:
df

,price,price_norm_sklearn,price_std_sklearn,price_fc,fc_np,mx_abs,rs_scaler
0,110,0.2,-0.416356,4.709530,4.709530,0.733333,0.000000
1,105,0.1,-0.757011,4.663439,4.663439,0.700000,-0.333333
2,115,0.3,-0.075701,4.753590,4.753590,0.766667,0.333333
3,120,0.4,0.264954,4.795791,4.795791,0.800000,0.666667
4,110,0.2,-0.416356,4.709530,4.709530,0.733333,0.000000
5,130,0.6,0.946264,4.875197,4.875197,0.866667,1.333333
6,150,1.0,2.308884,5.017280,5.017280,1.000000,2.666667
7,100,0.0,-1.097666,4.615121,4.615121,0.666667,-0.666667
8,105,0.1,-0.757011,4.663439,4.663439,0.700000,-0.333333

# Final Result
▪ Normalization
▪ Standardization
▪ Log Transformation
▪ Max Absolute Scaler
▪ Robust Scaler

In [38]:
df

,price,price_norm_sklearn,price_std_sklearn,price_fc,fc_np,mx_abs,rs_scaler
0,110,0.2,-0.416356,4.709530,4.709530,0.733333,0.000000
1,105,0.1,-0.757011,4.663439,4.663439,0.700000,-0.333333
2,115,0.3,-0.075701,4.753590,4.753590,0.766667,0.333333
3,120,0.4,0.264954,4.795791,4.795791,0.800000,0.666667
4,110,0.2,-0.416356,4.709530,4.709530,0.733333,0.000000
5,130,0.6,0.946264,4.875197,4.875197,0.866667,1.333333
6,150,1.0,2.308884,5.017280,5.017280,1.000000,2.666667
7,100,0.0,-1.097666,4.615121,4.615121,0.666667,-0.666667
8,105,0.1,-0.757011,4.663439,4.663439,0.700000,-0.333333